<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Culture</title>
  </head>
      <link rel="stylesheet" href="/styles/culture.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <div class="navbar">
      <section id = nazbar>

  {% include "templates/navbar.html" %}
      </section>
    <h1> Deaf Culture </h1>
    <section id ="actor">
    <h2>Famous Deaf Actors: </h2>
      <p>
      <br>
      1. Marlee Matlin
      <br>
      Actress | Children of a Lesser God

      Marlee Beth Matlin was in Morton Grove, Illinois, to Libby (Hammer) and Donald Matlin, an automobile dealer. She has two older brothers. Her family is of Russian Jewish and Polish Jewish descent.

      Marlee lost much of her hearing at the age of eighteen months. That did not stop her from acting in a ...

       Deaf actress
       <br>
      2. Millicent Simmonds
      <br>
      Actress | A Quiet Place

      Millicent Simmonds is an actress from Bountiful, Utah. She became deaf at twelve months old and her mother decided that the entire Simmonds family would learn American Sign Language. Millie joined the drama club at Jean Massieu School for the Deaf, and participated in Utah Shakespeare Festival, but...
       <br>
      3. Sean Berdy
      <br>
      Actor | The Society

      Considered by many to be the actor who revolutionized people's passion for learning sign language. Sean Berdy was born on June 3rd, 1993 in Boca Raton, Florida, to parents Terrie and Scott Berdy. At a young age Sean began putting on impromptu comedic shows alongside his brother, Tyler, to the ...

       Deaf actor

       <br>
      4. Emilio Insolera
      <br>
      Director | Sign Gene

      Emilio Insolera is an actor and producer known for Sign Gene (2017). He is profoundly deaf and comes from a large deaf family of native visual communicators. Since early age, Insolera lived aboard from Europe, South America to the US therefore he is conversant in Italian, Spanish, English, Italian ...

       <br>
      5. Tova Stewart
      <br>
      Actress | Take Shelter

      Tova Stewart is an actress, known for Take Shelter (2011).

       Deaf actress

       <br>
      6. Whitney Meyer
      <br>
      Actress | Scream Queens

      Whitney Meyer is an actress and figure skater originally from Dallas, Texas. She was born Deaf and is fully bilingual in both American Sign Language (ASL) and spoken English.

      At the age of 12, she began studying acting at the Wheelock Family Theater in Boston and has continued with private teachers ...

       Deaf actress

        <br>
      7. Aryana Engineer
      <br>
      Actress | Resident Evil: Retribution

      Aryana Engineer was born on March 6, 2001 in British Columbia, Canada. She is an actress, known for Resident Evil: Retribution (2012), Orphan (2009) and Dreaming of Peggy Lee (2015).


    </p>
<h2> Famous Deaf Athletes: </h2>
    <p>

        1. Matt Hamill
        <br>
        Matt Hamill is listed (or ranked) 1 on the list 10 Amazing Athletes Who Are Deaf
        Photo: via Twitter
  MMA fighter and National Collegiate Wrestling Championion, Matt Hamill, has been deaf since birth. He was the subject of the 2010 movie entitled The Hammer.
  Age: 43

  Nationality: United States of America

  Birthplace: Loveland, Ohio, United States of America


  <br>
  2.Tamika Catchings
  <br>
  Tamika Catchings is listed (or ranked) 2 on the list 10 Amazing Athletes Who Are Deaf

    Tamika Catchings was born with hearing impairments in both ears. She said, "in the classroom kids could make fun of me for being different. On the soccer field (my first sport) and eventually the basketball court, they couldn't. I outworked them, plain and simple. Eventually, I was better than them."
    Age: 40

    Nationality: United States of America

    Birthplace: Stratford, New Jersey, United States of America

    Teams: Tennessee Lady Volunteers basketball, Indiana Fever

    see more on Tamika Catchings
    10 people have voted on
    The Most Popular Mobile Games Right Now
    <br>
    3. Chris Colwill
    <br>
    Chris Colwill is listed (or ranked) 3 on the list 10 Amazing Athletes Who Are Deaf

    Olympic diver Chris Colwill has 60% hearing loss. He says, "I know how to put myself into focus. I'm really good at blocking out noises anyway. It definitely helps me more than it hurts."
    Age: 35

    Nationality: United States of America

    Birthplace: Brandon, Florida

    The Best Movies That Were Originally Panned by Critics
    <br>
    4. Jim Kyte
    <br>
    Jim Kyte is listed (or ranked) 4 on the list 10 Amazing Athletes Who Are Deaf

  Jim Kyte was the first legally deaf person to play professional hockey. He co-founded the Canadian Hearing Impaired Hockey Association and started the Jim Kyte Hockey School for the Hearing Impaired.
  Age: 55

  Nationality: Canada

  Birthplace: Ottawa, Canada
</p>
    </section>


  </body>
</html>
