<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Eventpage</title>
  </head>
      <link rel="stylesheet" href="/styles/eventpage.css">
  <body>
    <h1>Events</h1>
    <p>this is the event page</p>
    <form method="post" action="/main">
      <input  id = "kevin's_button" type="submit" value="GO TO MAIN"/>
    </form>
    <!-- <form method="post" action="/index">
      <input type="submit" value="Index"/> -->
      <iframe src="https://calendar.google.com/calendar/embed?src=c4urib1lbe9ufjndftnpvu80jc%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </form>
  </body>
</html>
