<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles/loginpage.css">
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="223052471011-sgu8k1nrp5uthc6ohe44od5bgv0jap8t.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Login</title>
  </head>
  <body>
    <div class="login">
        <h1> Please Login </h1>
      <input value="Login" type="button" class="button_active" onclick="location.href='{{log}}';" />
    </div>
  </body>
</html>
