<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
    <link rel="stylesheet" href="/styles/mainpage.css">
    <style>A {text-decoration: none;} </style>
  <body>
    <h1>ASLMU</h1>
      <p>Welcome!</p>
      <div>

      </div>
      <p>
        What is ASL?
      </p> <div>
      </div>
      <p>
        American Sign Language (ASL) is a visual language that utalizes the shape, placement, and movement of the hands,
        as well as facial expressions and body movements to convey information. With signing, the brain processes
        linguistic information through the eyes. </p>

      <div>
        Directory:
      </div>
      <menu>

      <a href="/translator"><div id= translator> Translator</div></a>
      <a href="/maps"><div id=map>Map Page</div></a>
      <a href="/events"><div id= event> Event Page</div></a>
      <a href="/chatroom"><div id= chatroom> Chatroom</div></a>
      <a href="/manual"><div id= manual> Alphabet Chart</div></a>
      <a href="/myprofile"><div id= myprofile>My Profile</div></a>
    </menu>
  </body>
</html>
