<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
    <link rel="stylesheet" href="/styles/mainpage.css">
  <body>
    <h1>ASL Support</h1>
      <p>Welcome!</p>
      <div>

      </div>
      <p>
        What is ASL?
      </p> <div>
      </div>
      <p>
        American Sign Language (ASL) is a visual language that utalizes the shape, placement, and movement of the hands,
        as well as facial expressions and body movements to convey information. With signing, the brain processes
        linguistic information through the eyes. </p>

      <div>
        Directory:
      </div>
      <menu>

      <div id = translator> <p><a href="/translator">Translator</a></p> </div>
      <div id = map> <p><a href="/maps">Map Page</a></p> </div>
      <div id = event> <p><a href="/events">Event Page</a></p> </div>
      <div id = myprofile> <p><a href="/myprofile">My Profile</a></p> </div>
    </menu>
  </body>
</html>
