
<!DOCTYPE html>
<html>
  <head>
    <title>Map Page</title>
    <link rel="stylesheet" href="/styles/mappage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 800px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <div class="navbar">
  <a href="/main">Home</a>
  <a href="/events">Events</a>
  <div class="dropdown">
  <button class="dropbtn">Dropdown
  <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content">
  <a href="/translator">Translator</a>
  <a href="/maps">Map Page</a>
  <a href="/chatroom">Chatroom</a>
  <a href="/manual">Alphabet Chart</a>
  <a href="/myprofile">My Profile</a>
  </div>
  </div>
  </div>
    <h1>Maps</h1>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
function initMap() {
	var mapOptions = {
		zoom: 8,
		center: new google.maps.LatLng(37.5, -122),
		mapTypeId: 'roadmap'
	};
	var map = new google.maps.Map(document.getElementById('map'), mapOptions);
  var goldenGatePosition = {lat: 37.8199,lng: -122.4783};
  var marker = new google.maps.Marker({
      position: goldenGatePosition,
      map: map,
      title: 'Golden Gate Bridge'
      });
  var myAddress = lat:{{ latitude }}, lng:{{ longitude }}
  var marker = new google.maps.Marker({
    	position: lmu,
			map: map,
			title: 'lmu'
    			});

}
</script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaZiiJUcgpqZMKakReHdYqeUtVv9wUHjg&callback=initMap">
    </script>
    <div class="form-popup" id="myForm">
      <form action="initMap()" class="form-container" method = "post">
        <h1>Put me on the map!</h1>

        <label for="latitude"><b>Latitude</b></label>
        <input type="text" placeholder="Enter latitude" name="lat" required>

        <label for="longitude"><b>Location</b></label>
        <input type="text" placeholder="Enter longitude" name="lng" required>




      </form>

    </div>

  </body>
</html>
