<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Profile</title>
  </head>
  <link rel="stylesheet" href="/styles/myprofile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    {% include "templates/navbar.html" %}
    <h1>My Profile</h1>
    <p>Hello, your nickname is {{nickname}}</p>

      {{description}}


    <section>
    </section>
    <p id="addbutton"><a href="/description">Add a description</a></p>
    <script src="/scripts/notes.js"></script>


  </body>
</html>
