<div class="navbar">
<a id = "mainb" href="/main"> <img id ='logo' src="/logo/alsmul.png" alt="logo"></a>
<a href="/events">Events</a>
<a href="/translator">Translator</a>
<a href="/maps">Map Page</a>
<a href="/chatroom">Message Board</a>
<div class="dropdown">
<button class="dropbtn">Dropdown
<i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-content">
<a href="/random">Random ASL Word</a>
<a href="/culture">Culture Page</a>
<a href="/manual">Alphabet Chart</a>
<a href="/myprofile">My Profile</a>
</div>
</div>
</div>
