<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Random ASL</title>
  </head>
      <link rel="stylesheet" href="/styles/chatroom.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <body>
    {% include "templates/navbar.html" %}
    <h1>Random ASL Word </h1>
    <img src="https://media1.giphy.com/media/3o6Zt0VZIMzTtjVcjK/giphy.gif?cid=790b76116e0155341771a252be82a80a4080d560dd18a292&rid=giphy.gif">
  </body>
</html>
