<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Random ASL</title>
  </head>
      <link rel="stylesheet" href="/styles/chatroom.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <body>
    <div class="navbar">
  <a href="/main">Home</a>
  <a href="/events">Events</a>
  <div class="dropdown">
  <button class="dropbtn">Dropdown
  <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-content">
  <a href="/translator">Translator</a>
  <a href="/maps">Map Page</a>
  <a href="/chatroom">Chatroom</a>
  <a href="/manual">Alphabet Chart</a>
  <a href="/myprofile">My Profile</a>
  </div>
  </div>
  </div>
    <h1>Random ASL Word </h1>
    <p>this is the random asl page</p>
  </body>
</html>
