<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
      <link rel="stylesheet" href="/styles/translatorpage.css">
      <meta charset="UTF-8">
      <title>ASL</title>
      <link rel="stylesheet" href="asl.css">
  <body>
    <h1>English to ASL Translator</h1>
    <p>this is the translator page</p>
    <form method="post" action="/main">
      <input type="submit" value="GO TO MAIN"/>
    </form>
  </body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ASL</title>
  <link rel="stylesheet" href="asl.css">
</head>
<body>
  sureena
</body>
</html>
