body{
  background-image: linear-gradient(#0076A3, #009BD6);
  height: 100vh;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  background-color: brown;
  color: white;
  font-size: 32px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}
#culture{
  background-image: linear-gradient(#0076A3, #009BD6);
}
#mainb{
  padding: 7px;
}
#logo{
  height: 1.8em;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
