body{
  background-image:linear-gradient(peru,white);
  height: 130vh;
  margin: 0px;
}
h1{
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;

}
/* #mainb{
  padding: 0px;
} */
#mainb{
  padding: 7px;
}
#logo{
  height: 1.8em;
}
#calendar{
  box-shadow: 2px 2px 2px black;
}
#buttons{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
#eventb{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  background-color: darkblue;
  width: 400px;
  border-bottom-left-radius: 25px;
  text-decoration: none;
  color: white;
}
#eventb:hover{
  text-shadow: 2px 2px 1px #8C8381;
}
#checkin{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  background-color: lightblue;
  width: 400px;
  border-bottom-right-radius: 25px;
  text-decoration: none;
  color: white;
}
#checkin:hover{
  text-shadow: 2px 2px 1px #8C8381;
}
body {
  font-family: Arial, Helvetica, sans-serif;

}
section{
    display: flex;
    justify-content: center;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
