body {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-rows: 30% 40% 30%;
  grid-template-columns: 1;
  background-color: darkgrey;
  height: 100vh;
}

div.login {
  grid-row: 2;
  grid-column: 1;
  background-color: lightgrey;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  box-shadow: 1px 6px 16px black;
}
