body{
   background-image: linear-gradient(#AFB8AC,white);
  /* background-color: #AFB8AC; */
  height: 142vh;
}
h1{
  text-align: center;
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px 2px black;
}
/* h1:hover{
text-shadow: 2px 2px 4px black;
} */
menu{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 400px;
  grid-gap: 6px;
  padding: 0px;
}
menu div{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 2px 2px 2px white;
}
#map{
  background-color: 	rgba(128,0,0,0.7);
  height: 200px;
  box-shadow: 2px 2px 4px black;
}
#map:hover{
  background-color: 	rgba(128,0,0,1);

  text-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 2px #AFB8AC;
}
#translator{
  background-color: rgba(64,224,208,.7);
  height: 200px;
  box-shadow: 2px 2px 4px black;
}
#translator:hover{
  background-color: rgba(64,224,208,1);
  text-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 2px #AFB8AC;
}
#random{
  background-color: rgba(85,107,47,.7);
  height: 200px;
  box-shadow: 2px 2px 4px black;
}
#random:hover{
  background-color: rgba(85,107,47,1);
  text-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 2px #AFB8AC;
}
#getconnect{
  background-color: rgba(0, 255, 127,.7);
  height: 200px;
  box-shadow: 2px 2px 4px black;
}
#getconnect:hover{
  background-color: rgba(0, 255, 127,1);
  text-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 2px #AFB8AC;
}
#culture{
  background-color: rgba(250,128,114,.7);
  height: 200px;
  box-shadow: 2px 2px 4px black;
}
#culture:hover{
  background-color: rgba(250,128,114,1);
  text-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 2px #AFB8AC;
}
#event{
  background-color: rgba(205,133, 63, .7);
  height: 200px;
  box-shadow: 2px 2px 4px black;
}
#event:hover{
    background-color: rgba(205,133, 63,1);
  text-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 2px #AFB8AC;
}
#myprofile{
  background-color: rgb(255,165,0,.7);
  height: 200px;
  box-shadow: 2px 2px 4px black;
}
#myprofile:hover{
  background-color: rgba(255,165,0,1);
  text-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 2px #AFB8AC;
}
#chatroom{
  background-color: rgba(72, 61, 139,.7);
  height: 200px;
  box-shadow: 2px 2px 4px black;
}
#chatroom:hover{
  background-color: rgba(72, 61, 139, 1);
  text-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 2px #AFB8AC;
}
#manual{
  background-color: rgba(199, 21, 133,.7);
  height: 200px;
  box-shadow: 2px 2px 4px black;
}
#manual:hover{
  background-color: rgba(199, 21, 133,1);
  text-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 2px #AFB8AC;
}
a{
  color: black;
}
a:hover{
  color: white;
  text-shadow: 2px 2px 5px black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#logo{
  text-align: center;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
