body{
  background-image: linear-gradient(maroon,white);
  height: 100vh;
}
h1{
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;

}
{box-sizing: border-box;}


.form_container{
  background-position: center;
}
