@font-face {
  font-family: 'DissaramasCRUFingerspelling';
  src: url('/styles/asl.ttf') format('truetype');
}


.asl{
  background-image: linear-gradient(turquoise, white);
  height: 100vh;
  font-family: 'DissaramasCRUFingerspelling';
  font-size: 100px;
}
h1{
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}
